<div class="text-center">
  <main class="form-signin">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <h1 class="h3 mb-3 fw-normal">Please Sign up</h1>
      <div class="field">
        <%= f.email_field :email, placeHolder: "Email",autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeHolder: "Password", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeHolder: "Confirm password", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign Up", class: "w-100 btn btn-lg btn-primary" %>
      </div>
    <% end %>

      <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
  </main>
<%= render "devise/shared/links" %>
</div>

