<div>
  <h3>Вопрос номер 
  <%= @user_test.question_number %>
  из 
  <%= @user_test.test.questions.count %>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: <%= @user_test.question_number %>" aria-valuenow="<%= @user_test.question_number %>" aria-valuemin="0" aria-valuemax="<%= @user_test.test.questions.count %>"></div>
  </div>
  <h3><%= @user_test.current_question.body %></h3>

<%= form_with url: user_test_path(@user_test), 
        local: true,
        class: "form_question",
        data: { question_id: @user_test.question_number, test_count: @user_test.test.questions.count },
        method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @user_test.current_question.answers, :id, :answer, include_hidden: false do |b| %>
    <%= b.check_box id: "answer_ids_#{b.object.id}" %>
    <%= b.label %><br>
  <% end %>
  <%= link_to "Create Gist", gist_user_test_path(@user_test), method: :post %>
  <%= form.submit 'Next' %>
<% end %>
