<h2><%= t('.header') %></h2>
<%= link_to t('.new'), new_admin_test_path %>
<%= render 'shared/errors', resource: @test %>
<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      <%= t('tests.index.test') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th><%= t('tests.index.level') %></th>
    <th><%= t('tests.index.question') %></th>
    <th Ñolspan="3"><%= t('tests.index.action') %></th>
  </tr>
  <%= render @tests %>
</table>
