<h2><%= t('.header') %></h2>
<%= link_to t('.new'), new_admin_test_path %>
<table class="table">
  <tr>
    <th><%= t('tests.index.test') %></th>
    <th><%= t('tests.index.level') %></th>
    <th><%= t('tests.index.question') %></th>
    <th Ñolspan="3"><%= t('tests.index.action') %></th>
  </tr>
  <%= render @tests %>
</table>
