<div class="container">
<h2><%= t('tests.index.header') %></h2>

<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      <%= t('tests.index.test') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %></th>
    <th><%= t('tests.index.level') %></th>
    <th><%= t('tests.index.question') %></th>
    <th><%= t('tests.index.action') %></th>
  </tr>
  <%= render @tests %>
</table>
</div>
